/** @format */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/* Main Content */
ul {
  display: flex;
  height: 12vh;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: fit-content;
  margin-top: 16px;
  gap: 6px;
}

li {
  padding: 10px 20px;
  list-style: none;
  border: 1px solid rgb(17, 17, 17);
  border-radius: 5px;
  transform: none;
  height: fit-content;
}

/* List Psuedo-elements and classes */

li::before {
  content: ">>";
  margin-right: 5px;
  color: black;
}
li:active::before {
  content: ">>";
  margin-right: 5px;
  color: white;
}
li:nth-child(odd) {
  color: grey;
}

li:hover {
  border: 1px solid rgb(255, 0, 0);
  cursor: pointer;
}

li:focus {
  font-size: 18px;
  background-color: green;
  border: 2px solid black;
  border-radius: 5px;
  transition: 200ms;
}

li:active {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: none;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  border-radius: 5px;
  background-color: rgb(18, 18, 18);
}

/* Button and content */

div {
  display: flex;
  flex-direction: column;
}
button {
  align-self: center;
  justify-self: center;
  margin-top: 22px;
  font-size: 18px;
  padding: 6px 12px;
  border-radius: 5px;
}

#hidden {
  visibility: hidden;
  width: fit-content;
  margin-top: 5px;
}

button:hover {
  transform: scale(1.1);
  background-color: rgb(255, 240, 78);
}
button:hover + #hidden {
  visibility: visible;
}

@media screen and (max-width: 700px) {
  ul {flex-direction: column;
    justify-content: space-evenly;
    height: 400px;
    gap: 12px;

  }
  li{width:220px;
  }
}